.demo-layout-transparent {
/*    background: url('1.png') center / cover;*/
        background-color: grey;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

#coun {
    margin-top: 5%;
    color: white;
    text-align: center;
}

#btn {
    background-color: rgba(32, 35, 45, 0.2);
    text-align: center;
    height: 100px;
}



#map {
position: absolute;
  height: 99%;
  width: 100%;
  /* The width is the width of the web page */
}

#counter {
    position: absolute;
    z-index: 999;
}

#add{
/*    position: absolute;*/
    text-align: center;
/*    margin-top: 25%;*/
}

#cen {
    text-align: center;
}
